.fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 1; /* Fully visible */
  }
  
  .fade.hidden {
    opacity: 0; /* Fully transparent */
  }

  a {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  button {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }